{
  "openapi": "3.1.0",
  "info": {
    "title": "Status Tacos  API",
    "description": "Status Tacos API",
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    },
    "version": "v0.0.1"
  },
  "externalDocs": {
    "description": "Status Tacos API",
    "url": "???"
  },
  "servers": [
    {
      "url": "https://tacos.oglimmer.com/api",
      "description": "Generated server url"
    }
  ],
  "paths": {
    "/v1/monitors": {
      "get": {
        "tags": [
          "monitor-controller"
        ],
        "operationId": "getAllMonitors",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "activeOnly",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MonitorResponseDto"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "monitor-controller"
        ],
        "operationId": "createMonitor",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MonitorRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/monitors/{id}/toggle-status": {
      "patch": {
        "tags": [
          "monitor-controller"
        ],
        "operationId": "toggleMonitorStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/users/me": {
      "get": {
        "tags": [
          "user-controller"
        ],
        "operationId": "getCurrentUser",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/v1/monitor-statuses": {
      "get": {
        "tags": [
          "monitor-status-controller"
        ],
        "operationId": "getAllActiveMonitorStatuses",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MonitorStatusResponseDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/monitors/{id}": {
      "delete": {
        "tags": [
          "monitor-controller"
        ],
        "operationId": "deleteMonitor",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MonitorRequestDto": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255,
            "minLength": 0
          },
          "url": {
            "type": "string",
            "maxLength": 2048,
            "minLength": 0
          },
          "emailContact": {
            "type": "string",
            "maxLength": 320,
            "minLength": 0
          },
          "tenantId": {
            "type": "integer",
            "format": "int32"
          },
          "isActive": {
            "type": "boolean"
          }
        },
        "required": [
          "emailContact",
          "name",
          "tenantId",
          "url"
        ]
      },
      "MonitorResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "emailContact": {
            "type": "string"
          },
          "tenantId": {
            "type": "integer",
            "format": "int32"
          },
          "tenant": {
            "$ref": "#/components/schemas/TenantResponseDto"
          },
          "isActive": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TenantResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "isActive": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UserResponseDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "email": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "tenantIds": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "isActive": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MonitorStatusResponseDto": {
        "type": "object",
        "properties": {
          "monitorId": {
            "type": "integer",
            "format": "int32"
          },
          "monitorName": {
            "type": "string"
          },
          "monitorUrl": {
            "type": "string"
          },
          "tenantId": {
            "type": "integer",
            "format": "int32"
          },
          "tenant": {
            "$ref": "#/components/schemas/TenantResponseDto"
          },
          "currentStatus": {
            "type": "string",
            "enum": [
              "up",
              "down"
            ]
          },
          "lastCheckedAt": {
            "type": "string",
            "format": "date-time"
          },
          "lastUpAt": {
            "type": "string",
            "format": "date-time"
          },
          "lastDownAt": {
            "type": "string",
            "format": "date-time"
          },
          "consecutiveFailures": {
            "type": "integer",
            "format": "int32"
          },
          "lastResponseTimeMs": {
            "type": "integer",
            "format": "int32"
          },
          "lastStatusCode": {
            "type": "integer",
            "format": "int32"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  }
}
