
services:
  mariadb:
    image: mariadb
    environment:
      - TZ=UTC
      - MARIADB_ROOT_PASSWORD=root
      - MARIADB_DATABASE=status-tacos
      - MARIADB_USER=status-tacos
      - MARIADB_PASSWORD=foobar
    healthcheck:
      test: mariadb -ustatus-tacos -pfoobar status-tacos -e "select 1"
      interval: 3s
      timeout: 60s
      retries: 5
      start_period: 10s
      start_interval: 3s
    ports:
      - "3306:3306"

  frontend:
    build: ./frontend
    ports:
      - "5173:8080"
    environment:
      - TZ=UTC

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    ports:
      - "8080:8080"
    environment:
      TZ: UTC
      DB_HOST: mariadb
      SPRING_DATASOURCE_PASSWORD: foobar
      SPRING_PROFILES_ACTIVE: dev
    depends_on:
      mariadb:
        condition: service_healthy

  teams:
    image: ghcr.io/oglimmer/teams-notification-mock:main
